<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nav</title>
    <link rel="stylesheet" href="./nav-bar.component.css" />
    <!-- Load Material Symbols once without extra parameters -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
    />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container">
        <ul>
          <li>
            <span class="material-symbols-outlined" aria-label="Star Icon"
              >star</span
            >
          </li>
        </ul>
        <ul class="shift">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="about">About</a>
          </li>
          <li>Shop</li>
          <li>Wishlist</li>
          <li>Cart</li>
        </ul>
        <ul>
          <li>
            <span class="material-symbols-outlined" aria-label="Search Icon"
              >search</span
            >
          </li>
          <li>
            <span class="material-symbols-outlined" aria-label="Account Icon"
              >account_circle</span
            >
          </li>
        </ul>
      </div>
    </nav>
  </body>
</html>
