<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Footer</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./footer.component.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
    />
  </head>
  <body>
    <section id="home-banner">
      <div class="container">
        <h1>Join With Us</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit at lauyam.
        </p>
        <form class="subscribe-form d-flex justify-content-center">
          <input
            type="email"
            class="form-control w-auto"
            placeholder="Enter your email"
            aria-label="Enter your email"
          />
          <button class="btn text-white" type="submit">→</button>
        </form>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container1">
        <div class="row">
          <!-- Footer Column 1 -->
          <div class="col-md-4 mb-4">
            <h3 class="logo"></h3>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry’s standard dummy text.
            </p>
          </div>
          <!-- Footer Column 2 -->
          <div class="col-md-4 mb-4">
            <h3>Information</h3>
            <ul class="list-unstyled">
              <li><a href="#blog">Blog</a></li>
              <li><a href="#about">About us</a></li>
              <li><a href="#contact">Contact</a></li>
              <li><a href="#privacy">Privacy</a></li>
              <li><a href="#account">My Account</a></li>
              <li><a href="#faqs">FAQs</a></li>
            </ul>
          </div>
          <!-- Footer Column 3 -->
          <div class="col-md-4 mb-4">
            <h3>Social Info</h3>
            <div class="social-links">
              <a href="#" title="Facebook">
                <span class="material-symbols-outlined"> person </span>
              </a>
              <a href="#" title="Pinterest">
                <span class="material-symbols-outlined"> owl </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
