<div class="container-fluid text-center">
    <div class="row">
        <div class="col col-text">
            <div class="col main-content">
                <div class="row">img</div>
                <div class="row">
                    <h2>ANTIAGEING</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, rerum?</p>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-primary">Buy Now</button>
                </div>
            </div>
        </div>
        <div class="col col-img">
            <p></p>
        </div>
    </div>
</div>